@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&family=Source+Sans+Pro:wght@600;700&display=swap');

@layer components{

  input[type="checkbox"] {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }

  .app{
    @apply flex relative
  }

  .content{
    @apply bg-primary-500 w-screen overflow-scroll
    overflow-x-hidden font-source-sans-pro
    scrollbar-track-transparent scrollbar-thumb-secondary-600
    scrollbar-corner-secondary-100 scrollbar-thumb-rounded-full scrollbar-thin
    text-gray-200 bg-content bg-opacity-100 bg-fixed;
  }

  .button{
    @apply relative flex items-center justify-center 
          text-slate-300
          bg-button hover:opacity-70
          rounded-md
          transition-all duration-200 ease-linear
          cursor-pointer;
  }

  .round-button{
    @apply button rounded-3xl hover:rounded-xl duration-200 ease-linear;
  }

  .input{
    @apply border border-secondary-400 bg-secondary-500 shadow appearance-none
    rounded py-2 px-3 text-gray-400 leading-tight 
    focus:outline-none focus:shadow-gray-600
    caret-teal-700 text-xs;
  }

  .tooltip{
    @apply absolute w-auto p-2 m-2
    rounded-md shadow-md z-50
    text-gray-500 bg-secondary-500 
    text-xs font-bold 
    transition-all duration-100 scale-0 origin-left;
  }

  .videobox{
    @apply bg-secondary-500 aspect-video rounded-lg;
  }

  .default-checkbox{
    @apply inline-block h-6 w-6 bg-secondary-500 border-2 border-secondary-600 mr-1
     transition-all duration-100 rounded-lg;
  }

  .default-checkbox--active{
    @apply bg-teal-600;
  }

  .toggle-switch {
    @apply relative inline-block;
  }
  .toggle-switch .switch {
    @apply absolute w-8 h-4 cursor-pointer
    bg-secondary-600 outline outline-[1.5px] outline-teal-500 rounded-xl
    top-0 right-0 bottom-0 
    left-0 transition-colors 
    duration-200 ease-linear;
  }
  .toggle-switch .switch::before {
    @apply absolute 
     w-4 h-4 bg-secondary-400 rounded-xl 
     transition-transform duration-300 ease-linear;
    content: "";
  }
  .toggle-switch input[type="checkbox"]:checked + .switch::before {
    @apply bg-teal-600 translate-x-4;
  }
  .toggle-switch input[type="checkbox"]:checked + .switch {
    @apply bg-teal-700;
  }
}