@tailwind base;
@tailwind components;
@tailwind utilities;


// Try changing to true
$center-big-play-button: true; // true default

.video-js:focus{
  @apply border-none
}

.video-js {
  /* The base font size controls the size of everything, not just text.
     All dimensions use em-based sizes so that the scale along with the font size.
     Try increasing it to 15px and see what happens. */
  font-size: 13px;

  /* The main font color changes the ICON COLORS as well as the text */
  @apply text-emerald-700 bg-primary-500;
}

/* The "Big Play Button" is the play button that shows before the video plays.
   To center it set the align values to center and middle. The typical location
   of the button is the center, but there is trend towards moving it to a corner
   where it gets out of the way of valuable content in the poster image.*/
.video-js .vjs-big-play-button  {
  /* The font size is what makes the big play button...big. 
     All width/height values use ems, which are a multiple of the font size.
     If the .video-js font-size is 10px, then 3em equals 30px.*/
  font-size: 30px;
  @apply bg-secondary-500;
  /* We're using SCSS vars here because the values are used in multiple places.
     Now that font size is set, the following em values will be a multiple of the
     new font size. If the font-size is 3em (30px), then setting any of
     the following values to 3em would equal 30px. 3 * font-size. */
  $big-play-width: 2em; 
  /* 1.5em = 45px default */
  $big-play-height: 2em;
  line-height: $big-play-height !important;
  height: $big-play-height;
  width: $big-play-width;

  @apply border-emerald-500 border-solid border-2 rounded-3xl;

  @if $center-big-play-button {
    /* Align center */
    left: 50%;
    top: 50%;
    margin-left: -($big-play-width / 2);
    margin-top: -($big-play-height / 2);   
  } @else {
    /* Align top left. 0.5em = 15px default */
    left: 0.5em;
    top: 0.5em;
  }
}



/* The default color of control backgrounds is mostly black but with a little
   bit of blue so it can still be seen on all-black video frames, which are common. */
.video-js .vjs-control-bar,
.video-js,
.video-js .vjs-menu-button .vjs-menu-content {
  /* IE8 - has no alpha support */
  @apply bg-primary-500 
  /* Opacity: 1.0 = 100%, 0.0 = 0% */
}

/* Slider - used for Volume bar and Progress bar */
.video-js .vjs-slider {
    @apply bg-secondary-500
}

/* The slider bar color is used for the progress bar and the volume bar
   (the first two can be removed after a fix that's coming) */
.video-js .vjs-volume-level,
.video-js .vjs-play-progress,
.video-js .vjs-slider-bar {
  @apply text-emerald-500;
}

/* The main progress bar also has a bar that shows how much has been loaded. */
.video-js .vjs-load-progress {
  @apply bg-secondary-400 opacity-80
}

/* The load progress bar also has internal divs that represent
   smaller disconnected loaded time ranges */
.video-js .vjs-load-progress div {
  @apply bg-secondary-400 opacity-75
}

