@tailwind base;
@tailwind components;
@tailwind utilities;

.react-tagsinput {
    @apply bg-secondary-700 bg-opacity-60
    flex items-center px-3 py-2 text-xs;
}

.react-tagsinput-tag {
    @apply bg-secondary-500
    rounded-md border-teal-800 border-2
    text-teal-700 mb-2 mr-2 text-xs;
    display: inline-block;
    font-family: sans-serif;
    font-weight: 400;
    padding: 5px;
}

.react-tagsinput-remove {
    @apply text-xs;
cursor: pointer;
font-weight: bold;
}

.react-tagsinput-tag a::before {
content: " ×";
}

.react-tagsinput-input {
    background: transparent;
    border: 0;
    color: #777;
    font-weight: 400;
    outline: none;
}